@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family:Poppins;
}

body{
    background-image: url(flowers-pattern-preppy-desktop-wallpaper.jpg);
    background-size: cover;
}

.con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 300px;
    background-color: #003049;
    height: 60vh;
    box-shadow: red;
    border-radius: 9px;
    border:6px  double  yellow;
    
}
.container h1{
    text-align: center;
    color: white;
    background-color:brown;

}

.to-do{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1em;
    top: 10px;
}

.to-do .inp-txt{
    width: 211px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 21px;
}

#check{
    width:20px;
}

#check:has(.to-do__#check:checked){
    text-decoration:line-through;
}

